{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
  <h1 class="heading">My Top 10 Movies</h1>
  <p class="description">These are my all-time favourite movies.</p>
    {%if movies%}
   {%for movie in movies%}
  <div class="card" >
      {%if movie.img_url=="default-movie.jpg"%}
    <div class="front" style="background-image: url('https://www.shortlist.com/media/images/2019/05/the-30-coolest-alternative-movie-posters-ever-2-1556670563-K61a-column-width-inline.jpg');">
        {%else%}
        <div class="front" style="background-image: url('{{movie.img_url}}');">
         {%endif%}
        <p class="large">{{movie.ranking}}</p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{movie.title}}<span class="release_date">({{movie.year}})</span></div>
        <div class="rating">
            <label>{{movie.rating}}</label>
          <i class="fas fa-star star"></i>
        </div>
          <p class="review">{{movie.review}}</p>
        <p class="overview">
            {{movie.description}}
        </p>

        <a href="{{url_for('editMovie',id=movie.id)}}" class="button">Update</a>
        <a href="{{url_for('deleteMovie',id=movie.id)}}" class="button delete-button">Delete</a>

      </div>
    </div>
  </div>
    {%endfor%}
    {%endif%}
</div>
<div class="container text-center add">
<a href="{{url_for('add_movie')}}" class="button">Add Movie</a>
</div>

{% endblock %}