ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color:#ff0000
}

.note{
  font-size: 20px;
}

#id-selector-demo{
  color:#00ff00
}

li[value=4]{
  color:#0000ff
}

{
  text-align:center
} 